@import "../../styles/variables";
@import "../../styles/mixins";

.bank-card-wrapper {
  position: absolute;
  top: calc(-16vw * 1.05);
  left: 20%;
  width: 60%;
  min-width: 260px;
  // max-width: 40rem;
  height: 25vw;
  min-height: 190px;
  margin: 0 auto;

  @include mobile {
    top: calc(-50vw * 1.05);
    left: 14%;
  }
}

.bank-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  border-radius: $br-l;
  background: no-repeat center/auto url("../../assests/cards/question.png") ghostwhite;

  transition: transform 0.5s ease-in-out;

  &__requisites {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    padding: 0 4.5vw;
    margin-bottom: 2.3rem;
    color: white;
  }
  &__number {
    position: absolute;
    bottom: 47%;
    left: 12%;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 4rem;
    padding-top: 4px;
    padding-left: 0.5vw;
    font-size: calc(9px + 16 * (100vw / 1280));
    line-height: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: transparent;
    white-space: nowrap;
    background-clip: text;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 35%, #8b96a3 100%);
  }
  &__info {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &__name {
    position: absolute;
    bottom: 20%;
    left: 12%;
    align-self: flex-end;
    font-size: calc(5px + 16 * (100vw / 1280));
    min-width: 40%;
    // margin-bottom: ;
  }
  &__exp-date {
    position: absolute;
    bottom: 32%;
    left: 53%;
    display: flex;
    align-items: flex-start;
    font-size: calc(2px + 16 * (100vw / 1280));
  }
  &__text {
    font-family: "Courier Prime", monospace;
    font-weight: bold;
  }

  .back-side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform: translateY(-80%);
  }
  &__info-back-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    width: 100%;
    padding-inline: 5rem;
    color: black;
  }
  &__name-back-side {
    position: absolute;
    bottom: 52%;
    left: 15%;
    font-size: calc(2px + 16 * (100vw / 1280));
    font-family: "Beth Ellen", cursive;
    font-weight: 500;
    transform: rotate(-1deg);
  }
  &__cvv-back-side {
    position: absolute;
    bottom: 52%;
    left: 80%;
    font-size: calc(2px + 16 * (100vw / 1280));
    font-family: "Courier Prime", monospace;
    font-weight: 400;
  }
}
.visa-front {
  background: no-repeat center/cover url("../../assests/cards/visa-front.png");
}
.visa-back {
  background: no-repeat center/cover url("../../assests/cards/visa-back.png");
}

.mastercard-front {
  background: no-repeat center/cover url("../../assests/cards/mastercard-front.png");
}
.mastercard-back {
  background: no-repeat center/cover url("../../assests/cards/mastercard-back.png");
}

.discover-front {
  background: no-repeat center/cover url("../../assests/cards/discover-front.png");
}
.discover-back {
  background: no-repeat center/cover url("../../assests/cards/discover-back.png");
}

.american-front {
  background: no-repeat center/cover url("../../assests/cards/american-front.png");
}
.american-back {
  background: no-repeat center/cover url("../../assests/cards/american-back.png");
}

.to-front-0 {
  transform: rotateY(90deg);
}
.to-0-back {
  transform: rotateY(180deg);
}
.to-back-0 {
  transform: rotateY(90deg);
}
.to-0-front {
  transform: rotateY(180deg);
}
@keyframes toBack {
}

.mirror {
  transform: scale(-1, 1);
}
